# Node
node_modules/
**/node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
**/dist/
build/
**/build/

# Env files
.env
.env.*
**/.env
**/.env.*

# MacOS
.DS_Store

# Editor
.vscode/
.idea/


